{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="row mb-3">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">VLAN Group Set</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Name</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td>{{ object.description }}</td>
          </tr>
          <tr>
            <th scope="row">VLAN Groups</th>
            <td>{{ object.vlan_groups.count }}</td>
          </tr>
        </table>
      </div>
    </div>
    {% include 'inc/panels/custom_fields.html' %}
  </div>
  <div class="col col-md-6">
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/comments.html' %}
  </div>
</div>
<div class="row">
  <div class="col col-md-12">
    <div class="card">
      <div class="title-container">
        <h5 class="card-header">VLAN Groups</h5>
        <div class="controls">
          <div class="control-group px-3 py-3">
            {% include 'netbox_vlan_manager/inc/toggle_available.html' %}
            <a type="button" class="btn btn-sm btn-purple" href="./export-vlans">
              <i class="mdi mdi-download"></i>&nbsp;Export
            </a>
          </div>
        </div>
      </div>
      <div class="card-body table-responsive">
        {% render_table vlans_table %}
        {% include 'inc/paginator.html' with paginator=vlans_table.paginator page=vlans_table.page %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}